<!DOCTYPE html>
<html lang="ko">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }} | 대륜고 MedLine</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
</head>
<body>

<nav class="navbar is-info">
    <div class="navbar-brand">
        <a class="navbar-item is-size-4" href="{% url 'medicalhub_pending_consult' %}">
            MedLine 관리
        </a>
        <div class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>



    <div class="navbar-menu">
        <div class="navbar-start ">
            <a class="navbar-item" href="{%  url 'home' %}">
                Medline 홈
            </a>
            <a class="navbar-item" href="{%  url 'medicine_type_form' %}">
                약 등록
            </a>
            <a class="navbar-item" href="{%  url 'medicine_type_list' %}">
                약 목록
            </a>
    </div>


</nav>



{% block body %}
{% endblock %}

<footer class="footer">
    <p class="content has-text-centered">대륜고등학교 메드라인 ©2019</p>
</footer>

</body>
</html>