{% extends 'medline/base.html' %}

{% load bulma_tags %}
{% block body %}
<section class="section has-background-white-bis">
    <h1 class="title ">로그인</h1>

    {% if messages %}
    <ul class="message">
        {% for message in messages %}
        <article class="message is-warning">
          <div class="message-header">
            <p>알림</p>
          </div>
          <div class="message-body">
            {{ message }}
          </div>
        </article>
        {% endfor %}
      </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form|bulma }}
      <button class="button" type="submit">Login</button>
    </form>

</section>

{% endblock %}
