    <div class="columns is-multiline">
    {% if history.count != 0 %}
    {% load static %}
        {% for x in history %}
            <div class="column is-one-quarter">
                <a href="/consult/details/{{ x.pk }}">
                    <div class="box">
                        <div class="container">
                            <h2 class="title is-size-4">{{ x.title }}</h2>
                            <h2 class="subtitle has-text-grey-dark is-size-5">{{ x.reserve_date |date:"n월 j일" }} {{ x.reserve_time }}</h2>
                            <h2 class="subtitle has-text-grey-dark is-size-6">{{ x.added_datetime|date:"n월 j일 등록" }}</h2>
                        </div>
                        <figure class="image">
                            <img src="{{ x.image.url }}">
                        </figure>
                        <p>{{ x.shortened_message }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <div class="hero-body has-text-centered">
            <h2 class="subtitle">{{ empty_message }}</h2>
        </div>
    {% endif %}
    </div>
