{% extends 'medline/base.html' %}

{% block body %}
<section class="section has-background-white-bis">


    <div class="container">


        {% include 'medline/show_message.html' %}
        <!-- <input type=button class="button" value="이전" onClick="history.go(-1);"/> -->
        <h2 class="title is-size-4">{{ consult.title }}</h2>
        <h2 class="subtitle has-text-grey-dark is-size-5">{{ consult.added_datetime|date:"Y년 n월 j일 h:i" }}</h2>
        <div class="columns">
            <div class="column">
                <figure class="image">
                    <img src="{{ consult.image.url }}">
                </figure>
            </div>
            <div class="column">
                <div class="buttons">
                    {% if userid.is_superuser %}
                        {% if not consult.is_finished %}
                        <form action="/consult/finish/{{ consult.pk }}" method="post">{% csrf_token %}
                            <input class="button is-info is-center" type="submit" value="완료">
                        </form>
                        {% else %}
                        <form action="/consult/finish/{{ consult.pk }}" method="post">{% csrf_token %}
                            <input class="button is-danger is-center" type="submit" value="완료 취소">
                        </form>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="box">
                    <p class="content">{{ consult.message }}</p>
                </div>
            </div>
        </div>
        <div class="buttons is-centered">
            <a class="button" href="{% url "expired_consult" %}">상담내역</a>
            <a class="button is-success" href = "/consult/edit/{{ consult.pk }}">편집</a>
            <form action="/consult/delete/{{ consult.pk }}" method="post">{% csrf_token %}
                <input class="button is-danger" type="submit" value="삭제">
            </form>
        </div>
    </div>
</section>
{% endblock %}