{% extends 'medline/base.html' %}

{% block body %}
<section class="section has-background-white-bis">


    <div class="container">


        {% include 'medline/show_message.html' %}
        <!-- <input type=button class="button" value="이전" onClick="history.go(-1);"/> -->
        <h2 class="title is-size-4">{{ consult.title }}</h2>
        <h2 class="subtitle has-text-grey-dark is-size-5">{{ consult.added_datetime|date:"Y년 n월 j일 h:i" }}</h2>
        <div class="columns">
            <div class="column">
                <figure class="image">
                    <img src="{{ consult.image.url }}">
                </figure>
            </div>
            <div class="column">
                <h1 class="title is-size-4">
                    증상
                </h1>
                <div class="box">
                    <p>{{ consult.symptoms }}</p>
                </div>
                <h1 class="title is-size-4">
                    내용
                </h1>
                <div class="box">
                    <p>{{ consult.message|linebreaks }}</p>
                </div>
                <h1 class="title is-size-4">처방</h1>
                <div class="container">
                    <div class="columns is-multiline">
                        {% for x in prescription %}
                        <div class="column is-one-quarter">
                            <div class="box">
                                <h1 class="subtitle">{{ x.medicine.name }}</h1>
                                <p class="content">{{ x.schedule }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons is-centered">
            <a class="button" href="{% url "pending_consult" %}">상담내역</a>
            {% if not consult.is_finished %}
            <form action="/consult/delete/{{ consult.pk }}" method="post">{% csrf_token %}
                <input class="button is-danger" type="submit" value="삭제">
            </form>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}