{% extends 'medline/base.html' %}


{% block body %}
<section class="section has-background-white-bis">
    <h1 class="title ">{{ title }}</h1>

    {% if messages %}
    <ul class="message">
        {% for message in messages %}
        <article class="message is-warning">
          <div class="message-header">
            <p>알림</p>
          </div>
          <div class="message-body">
            {{ message }}
          </div>
        </article>
        {% endfor %}
      </ul>
    {% endif %}

    <div class="tabs">
      <ul>
        <li><a href="{% url 'pending_consult' %}">상담 예정</a></li>
        <li class="is-active"><a href="{% url 'expired_consult' %}">기간 만료</a></li>
        <li><a href="{% url 'finished_consult' %}">상담 완료</a></li>
      </ul>
    </div>

    <div class="columns is-multiline">
    {% if history.count != 0 %}
    {% load static %}
        {% for x in history %}
            <div class="column is-one-quarter">
                <div class="box">
                    <div class="container">
                        <h2 class="title is-size-4">{{ x.title }}</h2>
                        <h2 class="subtitle has-text-grey-dark is-size-5">{{ x.added_datetime|date:"Y년 n월 j일 " }}</h2>
                    </div>
                    <figure class="image">
                        <img src="{{ x.image.url }}">
                    </figure>

                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2 class="subtitle">아직 상담을 한 적 없습니다.</h2>
    {% endif %}
    </div>

</section>
{% endblock %}