{% extends 'medline/base.html' %}


{% block body %}
<section class="section has-background-white-bis">
    <h1 class="title ">{{ title }}</h1>

    {% include 'medline/show_message.html' %}

    <div class="tabs">
      <ul>
        <li><a href="{% url 'pending_consult' %}">상담 예정</a></li>
        <li><a href="{% url 'ongoing_consult' %}">진행 중</a></li>
        <li class="is-active"><a href="{% url 'finished_consult' %}">상담 완료</a></li>
      </ul>
    </div>
    {% include 'medline/consult_column.html' with empty_message='완료된 상담이 없습니다.' %}

</section>
{% endblock %}