{% extends 'medline/base.html' %}


{% block body %}
<section class="section has-background-white-bis">
    <h1 class="title ">{{ title }}</h1>
    <h2 class="subtitle has-text-centered">원하는 옵션을 선택하세요</h2>
    <div class="columns">
        <div class="column">
            <a class="box" href="{% url 'consultform' %}">
                <h1 class="subtitle has-text-centered">
                    상담 신청
                </h1>
            </a>
        </div>
        <div class="column">
            <a class="box" href="{% url 'pending_consult' %}">
                <h1 class="subtitle has-text-centered">
                    상담 조회
                </h1>
            </a>
        </div>

        <div class="column">
            <a class="box has-background-danger">
                <h1 class="subtitle has-text-centered has-text-light">
                    긴급 연락
                </h1>
            </a>
        </div>
    </div>

</section>
{% endblock %}